# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# h. to heavy files:
MARINa/enfermos.99.980.dpi.adj.txt

*.pyc